<h1 class="md-display-2">Liquidaciones</h1>
<div class="col">
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-content layout="column" layout-align="start">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="container">
              <table class="table table-striped">
                <tr>
                  <th width="16%">Fecha	</th>
                  <th width="16%">Numero de Liquidacion	</th>
                  <th width="16%">Creditos	</th>
                  <th width="16%">Debitos	</th>
                  <th width="16%">Total	</th>
                  <th width="16%">Op.</th>
                </tr>
                <!-- <tr ng-repeat="alumno in alumnos | orderBy:'-creado'"> -->
                <tr>
                  <td>Fecha	</td>
                  <td>Numero de Liquidacion	</td>
                  <td>Creditos	</td>
                  <td>Debitos	</td>
                  <td>Total	</td>
                  <td>Op.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
